<h3 id="header">Reactive Forms</h3>
<div class="container">
  <form class="form-horizontal" action="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Save" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <ejs-uploader id="Uploader" #formUpload name="upload" class="form-control" formControlName="upload" [autoUpload] = 'false' (selected) = "onFileSelect($event)" (removing)='reset($event)'></ejs-uploader>
    </div>
    <ejs-dialog #confirmDialog id='confirm' [visible]='visiblity' [content]='content' width='400px' header='Success' isModal='true' [buttons]='buttons' [showCloseIcon]='showCloseIcon'></ejs-dialog>
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
    <button type="reset" class="btn btn-primary">
      Reset
    </button>
  </form>

  <div id="details">
    <pre>userForm.value: {{form.value | json}}</pre>
    <pre>userForm.valid: {{form.valid}}</pre>
  </div>

</div>